*{
	font-family: 'Balsamiq Sans', cursive;
	box-sizing: border-box;
}
.navbar-brand{
	font-size: 2em;
}
.navbar-nav .nav-item .nav-link{
	color: #ffea00;
	text-align: center;
}
.navbar-nav .nav-item{
	border: 2px solid white;
}

h1{
	font-weight: bold;
	margin: 25px;
	font-size: 3.5em;
}

.row{
	margin-right: 15px;
	margin-left: 15px;
}
#chicken{
	background-color: #fc6603;
	margin-bottom: 25px;
}
#beef{
	background-color: #03c6fc;
	margin-bottom: 25px;
}
#sushi{
	background-color: #03fc5a;
	margin-bottom: 25px;
}